/* =========================
   FONDO GENERAL
========================= */
ion-content {
  --background: #121212;
  color: #ffffff;
  
}

/* =========================
   TOOLBAR
========================= */
ion-toolbar {
  --background: linear-gradient(90deg, #6a11cb, #2575fc);
  --color: white;
}

ion-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}

/* =========================
   ITEM (CARD VIDEOJUEGOS)
========================= */
ion-item {
  margin-bottom: 16px;
  border-radius: 16px;
  --background: #f7f2f2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
  align-items: center;
  transition: 0.2s ease-in-out;
}

/* hover */
ion-item:hover {
  transform: scale(1.02);
}

/* =========================
   TEXTO
========================= */
ion-label h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 6px;
}

ion-label p {
  color: #b0b0b0;
  margin: 4px 0;
  font-size: 0.9rem;
}

/* =========================
   IMAGEN
========================= */
ion-label img {
  display: block;
  margin-top: 10px;
  border-radius: 12px;
  border: 2px solid #333;
  object-fit: cover;
  width: 100px;
  height: 100px;
}

/* =========================
   BOTONES
========================= */
ion-button {
  margin-top: 8px;
  margin-left: 6px;
  border-radius: 10px;
  font-weight: bold;
}

/* =========================
   MENSAJE DE ÉXITO
========================= */
.mensaje-exito {
  background: #4caf50;
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

// Ahora estilos para el modo dark
@media (prefers-color-scheme: dark) {
  ion-content {
    --background: #121212;
    color: #ffffff;
  }

  ion-item {
    --background: #1e1e1e;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  }

  ion-label h2 {
    color: #ffffff;
  }

  ion-label p {
    color: #b0b0b0;
  }
}