<ion-header>
  <ion-toolbar>
    <ion-title>Encuesta de Videojuegos</ion-title>

    <ion-button slot="start">
      <ion-back-button defaultHref="/tabs/tab1/apilibros"></ion-back-button>
    </ion-button>

    <ion-button slot="end" routerLink="/login">
      Cerrar sesión
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-item>
      <ion-input label="Nombre o alias" [(ngModel)]="encuesta.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" label="Edad" [(ngModel)]="encuesta.edad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Rol" [(ngModel)]="encuesta.rol"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Videojuego favorito" [(ngModel)]="encuesta.videojuego"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Plataforma" [(ngModel)]="encuesta.plataforma"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Género favorito" [(ngModel)]="encuesta.genero"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="Comentario" [(ngModel)]="encuesta.comentario"></ion-textarea>
    </ion-item>

  </ion-list>

  <ion-button expand="block" color="primary" (click)="enviarEncuesta()">
    Enviar Encuesta
  </ion-button>

</ion-content>