<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>apilibros</ion-title>
    <ion-button slot="start">
      <ion-back-button defaultHref="/tabs/tab1/videojuegos"> Ir a videojuegos</ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">apilibros</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h2>Buscar Libros</h2>
    <ion-item>
      <ion-label position="floating">Título del libro</ion-label>
      <ion-input [(ngModel)]="textoBusqueda"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="obtenerLibros()">Buscar</ion-button>

    <div *ngIf="libros.length > 0">
      <h3>Resultados de la búsqueda:</h3>
      <ion-list>
        <ion-item *ngFor="let libro of libros">
          {{ libro.title }} - {{ libro.author_name ? libro.author_name.join(', ') : 'Autor desconocido' }}
          <img *ngIf="libro.cover_i" [src]="'https://covers.openlibrary.org/b/id/' + libro.cover_i + '-M.jpg'" alt="Portada del libro" style="width: 50px; margin-left: 10px;">
        </ion-item>
      </ion-list>
    </div>
  </div> -->


  <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>apilibros</ion-title>
    <ion-button slot="start">
      <ion-back-button defaultHref="/tabs/tab1"> Ir a videojuegos</ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">apilibros</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h2>Buscar Juegos</h2>
    <ion-item>
      <ion-label position="floating">Título del juego</ion-label>
      <ion-input [(ngModel)]="textoBusqueda"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="obtenerJuegos()">Buscar</ion-button>

    <ion-card *ngFor="let juego of juegos">

      <img *ngIf="juego.thumbnail" [src]="juego.thumbnail" style="width: 100px; margin-left: 10px;" />

      <ion-card-header>
        <ion-card-title>
          {{ juego.title }}
        </ion-card-title>

        <ion-card-subtitle>
          {{ juego.genre }} - {{ juego.platform }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ juego.short_description }}
        <div style="margin-top:8px; font-size:0.9em; color:var(--ion-color-medium);">
          Desarrollador: {{ juego.developer }} • Lanzamiento: {{ juego.release_date }}
        </div>
      </ion-card-content>

    </ion-card>
  </div>

  <!-- Para cargar mientras se espera la respuesta de la API -->
  <ion-spinner *ngIf="loading" class="loading-spinner"></ion-spinner> 
</ion-content>